{{!-- footer goes here --}}
<footer class="mastfoot mt-5 text-center text-light">
    <div class="inner">
        <p>Made with &hearts; by <a href="#/home">CookUni</a>.</p>
    </div>
    <i class="fa fa-heart"></i>
</footer>
 <div id="notifications">
        <div id="successBox" class="alert alert-success" role="alert" style="display: none">{Success Message...}</div>
        <div id="loadingBox" class="alert alert-info" role="alert" style="display: none">Loading...</div>
        <div id="errorBox" class="alert alert-danger" role="alert" style="display: none">{Error Message...}</div>
    </div>